<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>

    <% if current_user %>
    <%    name_of_user = current_user.user_name %>
    <% end %>

    <% if name_of_user %>
      <p> BE GREETED, <%= name_of_user  %>! </p>
      <%= button_to "Logout", :session, method: :delete %>
    <% else %>
      <%= button_to "LOGIN", :new_session, method: :get %>
      <%= button_to "SIGN UP", :new_user, method: :get %>
    <% end %>

  </header>

  <body>
    <%= yield %>
  </body>
</html>
